<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tws.repository.EmployeeMapper">
    <select id="selectAll" resultType="tws.entity.ParkingBoy">
        select * from `parkingBoy`;
    </select>

    <insert id="insert">
        insert into parkingBoy values(#{parkingBoy.employeeID},#{parkingBoy.name},#{parkingBoy.age}, #{parkingBoy.parkingLotID});
    </insert>

    <select id="selectById" resultType="tws.entity.ParkingBoy">
        select * from `parkingBoy` where employeeID = #{employeeID};
    </select>
</mapper>
